body{text-align:center;
display:flex;
justify-content:center;
}


 .texts h1:nth-child(2){color:white;background-color:white;transition: 3sec ease-out;clip-path: polygon(100% 100%, 0% 100%, 100% 2%);}
 .texts h1:nth-child(1):hover~.texts h1:nth-child(2){clip-path: polygon(100% 100%, 100% 100%, 100% 2%);}
 
.texts h1:nth-child(2):hover{clip-path: polygon(100% 100%, 0 100%, 2% 0);}



.texts h1:nth-child(1):hover~h1:nth-child(2){clip-path: polygon(100% 100%, 100% 100%, 100% 2%);transition: 3sec ease-out} 
 .texts h1{font-size:200px;position:absolute;
    transition: 1s ease-in-out;
top:50%;left:50%;
transform:translate(-50%,-100%);
text-transform:uppercase;
text-shadow: 0 5px 15px rgba(0,0,0,.2);
text-align:center};